@charset "UTF-8";
* {
  font-family: "Lora", serif;
}

/*M A P A S*/
.color-title-black {
  background-color: black;
}

.Dfz-xs {
  font-size: 10px;
}

.Dfz-sm {
  font-size: 2em;
}

.Dfz-md {
  font-size: 20px;
}

.Dfz-xl {
  font-size: 25px;
}

/*NAVBAR GENERAL*/
/*buscador del navbar*/
.buscador-navbar {
  display: flex;
  justify-content: right;
}

/*btn buscar*/
.btn-outline-success {
  color: #8BE9B5;
}

/*IMG DEL LOGO DE NAVBAR*/
.logo-navbar {
  transition: transform 0.2s ease;
}
.logo-navbar:hover {
  transform: scale(1.1);
}

/*Separacion de "inicio|articulos|etc.."*/
.navbar-nav li {
  margin-left: 50px;
  transition: transform 0.2s ease;
}
.navbar-nav li:hover {
  transform: scale(1.1);
}

.navbar-expand-lg {
  background-color: #742525;
}

.nav-link {
  color: #fbfbf4;
}

/*Para centrar más las cosas del navbar*/
#navbarNav {
  display: flex;
  justify-content: space-around;
}

.navbar-nav {
  margin: auto;
}

.navbar-collapse {
  justify-content: space-between;
}

/*CARROUSEL*/
.carousel-inicio img {
  display: flex;
  justify-content: center;
  height: 500px;
  margin: 1px;
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  width: auto;
}

.carousel-control-next {
  background-color: darkgrey;
  margin-right: 17px;
  margin-bottom: 22px;
  margin-top: 30px;
  margin-left: 0px;
}

.carousel-control-prev {
  background-color: darkgray;
  margin-right: 15px;
  margin-bottom: 22px;
  margin-top: 30px;
  margin-left: 20px;
}

/*TODO EL INDEX HASTA AVISAR CAMBIO DE PAGINA*/
/*Primer titulo h1 index*/
body {
  background-color: grey;
}

.linea-blanca {
  background-color: white;
}

.linea-blanca p {
  margin-bottom: 0px;
  font-size: 3px;
}

.titulo-index h1 {
  font-family: serif;
  background-color: black;
  display: flex;
  justify-content: center;
  color: #fbfbf4;
  margin-top: 0px;
  padding: 0%;
}

/*PAGE- Articulos*/
.title-article h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #fbfbf4;
  margin-bottom: 20px;
  margin-top: 0px;
}

/*PAGE- Contacto*/
.primary-titleForm h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: #fbfbf4;
  margin-top: 0px;
}

/*PAGE - Faqs*/
.pf-titulo {
  background-color: black;
  color: #fbfbf4;
}

/*PAGE - Quienes Somos*/
.qs_title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 0px;
  border-style: double;
  border-color: black;
}

/*Segundo titulo h2 index*/
.second-title {
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 30px 5px;
  color: #fbfbf4;
}

/*3cards de el index*/
.cards-index {
  transition: transform 0.2s ease;
}
.cards-index:hover {
  transform: scale(1.1);
}

/*Color de los botones de las 3 cards del index*/
.btn-primary {
  background-color: brown;
  margin-top: 10px;
  --bs-btn-border-color: none ;
}

/*Parrafo de abajo de las cards*/
.parrafo-index p {
  max-width: 600px;
  text-align: center;
  margin-left: 10px;
  background-color: #fbfbf4;
  color: black;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen que está debajo de las cards*/
.imagen-index {
  display: flex;
  justify-content: space-around;
}
.imagen-index img {
  width: 350px;
  height: 500px;
  margin: 0 10px;
  border-style: groove;
  border-color: #fbfbf4;
  transition: transform 0.2s ease;
}
.imagen-index img:hover {
  transform: scale(1.1);
}

/*PAGE - ARTICULOS*/
.article-secondTitle h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #fbfbf4;
  margin-bottom: 20px;
  margin-top: 10px;
}

.article-thirdTitle {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #fbfbf4;
  margin-bottom: 20px;
  margin-top: 10px;
}

/*Cards de articulos*/
.card-body {
  background-color: #fbfbf4;
}

.card-articulos {
  background-color: gray;
  max-width: 300px;
  margin: auto;
  transition: transform 0.2s ease;
}
.card-articulos:hover {
  transform: scale(1.1);
}

.card-articulos img {
  height: 200px;
  object-fit: cover;
}

/*PAGE - CONTACTO*/
.container-formulario input {
  background-color: #fbfbf4;
}

.email-container {
  padding-top: 20px;
  margin-right: 15px;
}

.form-select {
  background-color: #fbfbf4;
}

.box-text textarea {
  background-color: #fbfbf4;
}

.box-text label {
  display: flex;
  padding: 3px;
}

/*PAGE DE FAQS*/
.pregunta-faqs {
  background-color: #fbfbf4;
  color: black;
  margin: 0px;
}

.respuestas p {
  padding-left: 6px;
  padding-bottom: auto;
  margin-bottom: 20px;
  color: #fbfbf4;
  border-style: groove;
  border-color: black;
  border-radius: 0.4px;
}

/*PAGE DE QUIENES SOMOS*/
.qs_secondTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.image-container {
  display: flex;
  justify-content: space-around;
}
.image-container img {
  width: 350px;
  height: auto;
  margin: 0 10px;
  border-style: groove;
  border-color: #fbfbf4;
}

@keyframes spin-once {
  100% {
    transform: rotate(360deg);
  }
}
.image {
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
}

.image:hover {
  animation: spin-once 1s forwards;
}

.description_qs {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  margin-top: 20px;
  color: #fbfbf4;
  display: flex;
  text-align: center;
}

.description_qs p {
  margin-bottom: 1.5em;
  margin-right: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

.description_qs_dos {
  font-size: 1.1em;
  line-height: 1.6;
  margin-top: 20px;
  background-color: rgb(13, 196, 13);
  color: #fbfbf4;
  display: flex;
  justify-content: center;
}

/*FOOTRE GENERAL (para todas las pages)*/
.logo-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

footer {
  background-color: #2f4f4f;
  margin-top: 20px;
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */
