    /*TODO EL INDEX HASTA AVISAR CAMBIO DE PAGINA*/

/*Primer titulo h1 index*/
.titulo-index h1{
    background-color: brown;
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 5px;
    padding: 0%;
}

    /*PAGE - Quienes Somos*/

    .qs_title{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    